body {
  margin: 0%;
  padding: 0%;
  width: 100wh;
  height: 100vh;
  background-color: black;
}

.display {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  background-image: url(../assets/wallpaper.jpg);
  background-size: cover;
}

.wallpaper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: contents;
  z-index: 2;
}
.navbar {
  width: 100vw;
  height: 30px;
  margin: 0px;
  position: absolute;
  z-index: 1000;
  font-family: "Yusei Magic", sans-serif;
  font-size: 13px;
  color: #fff;
  display: inline;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.navbar .left-part td {
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #fff;
}
.navbar .left-part img {
  height: 15px;
}

.navbar .right-part img {
  height: 25px;
}

.navbar .left-part {
  float: left;
}

.navbar .right-part {
  float: right;
  display: inline;
  font-size: 15px;
  font-family: "Yusei Magic", sans-serif;
  color: #fff;
}

.navbar .right-part td {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.dock {
  background-color: white;
  width: 80vw;
  margin-top: 90vh;
  margin-left: 150px;
  margin-right: 150px;
  height: 80px;
  border-radius: 15px;
  position: absolute;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icon-container {
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 5px;
  box-sizing: inherit;
  height: 80px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.icon {
  height: 70px;
  width: 70px;
  margin-left: 1px;
  margin-right: 1px;
}

.icon img {
  width: 70px;
  height: 70px;
}

.control-panel {
  width: 320px;
  height: 370px;
  border-radius: 20px;
  position: absolute;
  margin-top: 35px;
  float: right;
  padding: 10px;
  margin-left: 82vw;
  display: none;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.control-panel .top-row {
  display: flex;
  flex-direction: row;
  background: none;
}

.control-panel .top-row .square {
  width: 155px;
  height: 155px;
  border-radius: 15px;
  background: rgba(255, 255, 255, -0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, -0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

.control-panel .top-row .square:first-of-type {
  margin-right: 10px;
}

.control-panel .setting-slider {
  height: 60px;
  border-radius: 15px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.control-panel .music-bar {
  height: 60px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.control-panel .square {
  box-sizing: border-box;
}
.control-panel .square .icon-row {
  height: 40px;
  padding: 0px;
  margin-bottom: 5px;
}
.control-panel .square .icon-row .icon {
  width: 30px;
  height: 30px;
  background: rgb(0, 174, 255);
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  /* vertical-align: initial; */
  margin-top: 5px;
  position: fixed;
}

.control-panel .square .icon-row .icon i {
  transform: translateY(5px);
}

.control-panel .square .icon-row .icon img {
  height: 25px;
  width: 25px;
  transform: translateY(2px);
  text-align: center;
}

.control-panel .icon-row .text {
  margin-left: 40px;
  font-family: "Yusei Magic", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}

.control-panel .square .icon-row .text .description {
  font-size: smaller;
  font-weight: lighter;
}

.control-panel .oneColumn {
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, -0.7);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 150px;
  margin-bottom: 10px;
  height: 50px;
}

.control-panel .twoColumn {
  display: inline-flex;
  position: relative;
}

.control-panel .twoColumn .square {
  width: 72.5px;
  height: 72.5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 5px;
}

.control-panel .oneColumn .icon-row .icon {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #000;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;

  /* vertical-align: initial; */
  margin-top: 5px;
  position: fixed;
}

.control-panel .oneColumn .icon-row .icon i {
  transform: translateY(5px);
}
